@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700');

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
  font-weight: 100;
}

h1 span {
  color: #d1d1d1;
  animation-duration: 0.35s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-name: larger;
}
h1 span:nth-child(1) {
  animation-delay: 0s;
}
h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes larger {
  0% {
    font-weight: 100;
  }
  15% {
    font-weight: 200;
  }
  30% {
    font-weight: 300;
  }
  45% {
    font-weight: 400;
  }
  60% {
    font-weight: 500;
  }
  75% {
    font-weight: 600;
  }
  100% {
    font-weight: 700;
    color: #46A4B1
  }
}

#buttondaftar {
	justify-content: center;
	width: 8rem;
	overflow: hidden;
	height: 3rem;
	background-size: 300% 300%;
	backdrop-filter: blur(1rem);
	border-radius: 10px  0;
	transition: 0.5s;
	animation: gradient_301 5s ease infinite;
	border: double 4px transparent;
	background-image: linear-gradient(#21212100, #21212100),  linear-gradient(137.48deg, #00c3ff 10%,#5e53fe 45%, #51eae2 67%, #0044ff 87%);
	background-origin: border-box;
	background-clip: content-box, border-box;
  }
  
  #container-stars {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: 0.5s;
	backdrop-filter: blur(1rem);
	border-radius: 10px  0 10px;
  }
  
  strong {
	z-index: 2;
	font-family: 'Avalors Personal Use';
	font-size: 12px;
	letter-spacing: 5px;
	color: #FFFFFF;
	text-shadow: 0 0 4px white;
  }
  
  #glow {
	position: absolute;
	display: flex;
	width: 12rem;
  }
  
  .circle {
	width: 100%;
	height: 30px;
	filter: blur(2rem);
	animation: pulse_3011 4s infinite;
	z-index: -1;
  }
  
  .circle:nth-of-type(1) {
	background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
	background: rgba(142, 81, 234, 0.704);
  }
  
  #buttondaftar:hover #container-stars {
	z-index: 1;
  }
  
  #buttondaftar:hover {
	transform: scale(1.1);
	background-color: #46A4B1;
  }
  
  #buttondaftar:active {
	border: double 4px #FE53BB;
	background-origin: border-box;
	background-clip: content-box, border-box;
	animation: none;
  }
  
  #buttondaftar:active .circle {
	background: #FE53BB;
  }
  
  #stars {
	position: relative;
	background: transparent;
	width: 200rem;
	height: 200rem;
  }
  
  #stars::after {
	content: "";
	position: absolute;
	top: -10rem;
	left: -100rem;
	width: 100%;
	height: 100%;
	animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
	background-image: radial-gradient(#ffffff 1px, transparent 1%);
	background-size: 50px 50px;
  }
  
  #stars::before {
	content: "";
	position: absolute;
	top: 0;
	left: -50%;
	width: 170%;
	height: 500%;
	animation: animStar 60s linear infinite;
  }
  
  #stars::before {
	background-image: radial-gradient(#ffffff 1px, transparent 1%);
	background-size: 50px 50px;
	opacity: 0.5;
  }
  
  @keyframes animStar {
	from {
	  transform: translateY(0);
	}
  
	to {
	  transform: translateY(-135rem);
	}
  }
  
  @keyframes animStarRotate {
	from {
	  transform: rotate(360deg);
	}
  
	to {
	  transform: rotate(0);
	}
  }
  
  @keyframes gradient_301 {
	0% {
	  background-position: 0% 50%;
	}
  
	50% {
	  background-position: 100% 50%;
	}
  
	100% {
	  background-position: 0% 50%;
	}
  }
  
  @keyframes pulse_3011 {
	0% {
	  transform: scale(0.75);
	  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}
  
	70% {
	  transform: scale(1);
	  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
  
	100% {
	  transform: scale(0.75);
	  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
  }

  #buttontemplate {
	position: relative;
	width: 8rem;
	height: 3rem;
	background: #c20088;
	font-size: 17px;
	font-weight: 500;
	color: #ffffff;
	border: 3px solid #c20088;
	border-radius: 0 10px;
	box-shadow: 0 0 0 #5f33ff;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
  }
  
  .star-1 {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 25px;
	height: auto;
	filter: drop-shadow(0 0 0 #ffe100);
	z-index: -5;
	transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
	position: absolute;
	top: 45%;
	left: 45%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 0 #ffe100);
	z-index: -5;
	transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
	position: absolute;
	top: 40%;
	left: 40%;
	width: 5px;
	height: auto;
	filter: drop-shadow(0 0 0 #ffe100);
	z-index: -5;
	transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
	position: absolute;
	top: 20%;
	left: 40%;
	width: 8px;
	height: auto;
	filter: drop-shadow(0 0 0 #ffe100);
	z-index: -5;
	transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
	position: absolute;
	top: 25%;
	left: 45%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 0 #ffe100);
	z-index: -5;
	transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
	position: absolute;
	top: 5%;
	left: 50%;
	width: 5px;
	height: auto;
	filter: drop-shadow(0 0 0 #ffe100);
	z-index: -5;
	transition: all 0.8s ease;
  }
  
  #buttontemplate:hover {
	background: #46A4B1;
	color: #c20088;
	box-shadow: 0 0 25px #3600FF;
	border: 3px solid #46A4B1;
  }
  
  #buttontemplate:hover .star-1 {
	position: absolute;
	top: -80%;
	left: -30%;
	width: 25px;
	height: auto;
	filter: drop-shadow(0 0 10px #ffe100);
	z-index: 2;
  }
  
  #buttontemplate:hover .star-2 {
	position: absolute;
	top: -25%;
	left: 10%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 10px #ffe100);
	z-index: 2;
  }
  
  #buttontemplate:hover .star-3 {
	position: absolute;
	top: 55%;
	left: 25%;
	width: 5px;
	height: auto;
	filter: drop-shadow(0 0 10px #ffe100);
	z-index: 2;
  }
  
  #buttontemplate:hover .star-4 {
	position: absolute;
	top: 30%;
	left: 80%;
	width: 8px;
	height: auto;
	filter: drop-shadow(0 0 10px #ffe100);
	z-index: 2;
  }
  
  #buttontemplate:hover .star-5 {
	position: absolute;
	top: 25%;
	left: 115%;
	width: 15px;
	height: auto;
	filter: drop-shadow(0 0 10px #ffe100);
	z-index: 2;
  }
  
  #buttontemplate:hover .star-6 {
	position: absolute;
	top: 5%;
	left: 60%;
	width: 5px;
	height: auto;
	filter: drop-shadow(0 0 10px #ffe100);
	z-index: 2;
  }
  
  .fil0 {
	fill: #ffe100;
  }
  
  .badge {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.animated-box {
  font-family: 'Lato';
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
}
/* The animation starts here */
.animated-box {
  position: relative;
  background: #ffffff;
}

.animated-box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animated-box.in:after {
  animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

/* motion */
@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
  }
}

	@keyframes carouselAnim {
		from {
			transform: translate(0, 0);
		}

		to {
			transform: translate(calc(-100% + (5*300px)));
		}
	}

	@media only screen and (max-width: 768px) {
		.container .carousel-items {
			animation: carouselAnim 30s infinite alternate linear;
		}

		@keyframes carouselAnim {
			from {
				transform: translate(0, 0);
			}

			to {
				transform: translate(calc(-100% + (2*300px)));
			}
		}
	}

	.carousel-focus:hover {
		transition: all 0.8s;
		transform: scale(1.1);
	}

	/* Add responsive styles for mobile devices */
	@media only screen and (max-width: 480px) {
		.container .carousel-items {
			animation: carouselAnim 30s infinite alternate linear;
		}

		@keyframes carouselAnim {
			from {
				transform: translate(0, 0);
			}

			to {
				transform: translate(calc(-100% + (1*300px)));
			}
		}

		.carousel-focus {
			font-size: 16px;
			/* adjust font size for mobile */
			width: 200px !important;
		}

		.carousel-focus:hover {
			transform: scale(1.05);
			/* reduce scale effect for mobile */
		}
	}

	.carousel-focus:hover .text-teal-400 {
		display: block;
	}
	
	.swiper-slide {
  background: #fff;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;
  }
  
  .Btn1 {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to right,#bf953f,#fcf6ba,#b38728,#fbf5b7,#aa771c);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 0.8em;
  color: rgb(121, 103, 3);
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition-duration: 3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
  background-size: 200% 200%;
}

.logoIcon path {
  fill: rgb(121, 103, 3);
}

.Btn1:hover {
  transform: scale(0.95);
  transition-duration: 3s;
  animation: gradient 5s ease infinite;
  background-position: right;
}
