@font-face {
    font-family: 'Shabaq UltraBlack';
    src: url('Shabaq-UltraBlack.woff2') format('woff2'),
        url('Shabaq-UltraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

